<div class="page">
    <div class="hero">
        <h1>The possibilities are endless</h1>
        <p>Join the programming club today.</p>
        <app-canvas-box></app-canvas-box>
    <!-- </div>
        <div class="card">
            <h1>Dive deep into the world of tech</h1>
            <h3>We make</h3>
        </div>
        <div class="container">
            <app-carousel [slides]="slides"></app-carousel>
         </div>
    <div class="card">
        <h1>Join Today!</h1>
    </div>

    <app-footer></app-footer> -->
</div>
