<!-- Sidebar Navigation method -->
<mat-sidenav-container>

    <!-- Sidenav -->
    <mat-sidenav #sidenav roll="navigation" (click)="sidenav.toggle()" class="primary">
      <mat-nav-list>
        <a mat-list-item routerLink="/" (click)="sidenav.close()">
          <mat-icon>home</mat-icon>
        </a>
  
        <ng-container *ngFor="let item of links">
          <mat-list-item routerLinkActive="selected" [routerLink]="item.path">
            {{ item.name }}
          </mat-list-item>
        </ng-container>
      </mat-nav-list>
    </mat-sidenav>


    <!-- Toolbar -->
    <mat-toolbar id="app-toolbar" class="nav">
      <div class="hide-gt-sm">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
  
      <button mat-button routerLink="/" class="branding box spacer hide-lt-md">Programming Club</button>
      
      <button mat-button routerLink="/" class="branding box spacer center hide-gt-sm" [disableRipple]="true">Del Oro</button>

      <button mat-button *ngFor="let item of links" routerLinkActive="selected" [routerLink]="item.path" class="hide-lt-md">
        {{ item.name }}
      </button>
    
      <button mat-raised-button color="accent" routerLink="/sign-in">Join Now</button>
      <button mat-icon-button routerLink="/settings">
        <mat-icon>settings</mat-icon>
      </button>
    </mat-toolbar>
   


      
    <ng-content></ng-content>

  
  </mat-sidenav-container>